* {
	font-family: monospace;
	font-style: oblique;
	}

nav {
	display: flex;
	background-color: lightblue;
	}

body {
	background-color: aliceblue;
	text-align: center;
	background-image: url("https://cdn.vox-cdn.com/thumbor/xcPDQwZHCDfSTHAXL7JlCdQSOlc=/0x0:3000x2000/1200x675/filters:focal(1118x1376:1598x1856)/cdn.vox-cdn.com/uploads/chorus_image/image/59213101/yankeemain.0.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	}
	
	
p {
	color: darkblue;
	font-size: 30px;
	}
	
h1 {
	color: darkblue;
	font-size: 80px;
	display:inline-block;
	}

h2 {
	color: darkblue;
	font-size: 60px;
	background-color: lightblue;
	display: inline-block;
	margin: 25px;
	padding: 15px	
	}
	
.hor a {
	color: darkblue;
	text-decoration: none;
	padding: 15px;
	font-size: 30px;
	text-align: center;
	float: left;
	}
	
.hor a:hover {
	background-color: #111;
	color: white;
		}

.hor a.active {
	background-color: #111;
	color: white;
	}	
		
	
.top {
	text-align: center;
	background-color: lightblue;

	}
	
.par {
	margin: 70px;
	background-color: lightblue;
	}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
