nav {
	display: flex;
	}

body {
	background-color: aliceblue
	}
	
p {
	color: cadetblue;
	font-style: oblique;
	font-size: 30px;
	}
	
h1, h2 {
	font: 40px oblique;
	color: darkblue	
	}
	
.hor a {
	text-decoration: none;
	color: darkblue;
	padding: 15px;
	font-size: 30px;
	text-align: center;
	float: left;
	}
	
.hor a:hover {
	background-color: #111;
	color: white;
		}

.hor a:active {
	background-color: #111;
	color: white;
	}	
		
		
.front {
	border-top: 4px solid brown;
		margin: 10px;
		}
	
.top {
	text-align: center;
	}
