body {
	background-color: aliceblue;
	}
	
p {
	color: cadetblue;
	font-style: oblique;
	font-size: 30px;
	}
	
h2 {
	font-style: italic;
	color: teal;
	}
	
h1 {
	font: 20px oblique;
	color: darkblue	
	}
	
a {
	text-decoration: none;
	color: darkblue;
	}
	
.nav {
	background-color: brown
	}
	
